<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
  
      <a class="navbar-brand" href="/">
        <img src="/citibank.png" alt="Logo" style="width: 200px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href="/allusers"> View Users</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% if(transactions.length > 0){ %>
<table class="table bg-primary text-white">
    <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            <th scope="col">Transaction(Rs)</th>
            <th scope="col">TransactionTime</th>
        </tr>
    </thead>
   <tbody>
       <% transactions.forEach((transaction)=> { %>
        <tr scope="row">
            <td><%= transaction.senderName %></td>
            <td><%= transaction.receiverName %></td>
            <td><%= transaction.transferAmount %></td>
            <td><%= formatDate(transaction.createdAt,'MMMM Do YYYY,h:mm:ss a')%></td>
        </tr>
       <% }); %>
       
   </tbody>
</table>
<%} else{%>
    <b>No Transitions done yet</b>
<% } %>
